- content_for :scripts do
  %script(type="application/javascript" src="/static/js/jquery-1.4.2.min.js")
  %script(type="application/javascript" src="/static/js/soret.pages.work.js")
  :javascript
    $(document).ready(function() {
      Soret.pages.work.init();
      Soret.pages.work.set_last_level(#{@current_level});
      Soret.pages.work.activate_level(#{@current_level});
    });

%section#levels
  - levels.all[0..@current_level].each_with_index.to_a.reverse.each do |l, i|
    %article(class="level #{l['type']}" data-level="#{i}")
      %header
        %h1&= l['title']

